<div class="wrapper container-fluid">
	<div class="navigation">
        <nav class="navbar navbar-default" role="navigation" style="width: 188px;">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': isActive1}">
                    <a href="#/topology_templates">编排模板</a>
                </li>
                <li ng-class="{'active': isActive2}">
                    <a href="#/topologies">已生成编排</a>
                </li>
            </ul>
        </nav>
    </div>
</div>